body {
	background-color: #1e1f28;
	color: #ffffff;
	background-image: url('/background-image.svg');
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	width: calc(100% - 48px);
	font-family: 'Source Serif Pro', serif;
	padding: 0 24px;
	margin: 0;
	padding-bottom: 64px;
}

.svelte-wrapper {
	width: 650px;
}

h1 {
	font-family: 'Catamaran', sans-serif;
	font-size: 42px;
	line-height: 52px;
}

a {
	color: #fc7373;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

p,
ul,
ol {
	font-weight: 400;
	color: rgba(255, 255, 255, 0.85);
	font-size: 16px;
	line-height: 24px;
}

p {
	margin: 32px 0;
}

code {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 2px;
	padding: 2px 4px;
}

blockquote {
	border-left: 2px solid #fc7373;
	padding: 1px 16px 1px 16px;
	margin-left: 24px;
	background-color: rgba(255, 255, 255, 0.06);
}

hr {
	margin: 40px 0;
	border: 1px solid rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 650px) {
  .svelte-wrapper {
		width: 100%;
	}

	blockquote {
		margin-left: 8px;
		padding-left: 8px;
	}

	p {
		margin: 16px 0;
	}

	hr {
		margin: 24px 0;
	}
}