:root {
	--font-body: 'Atkinson Hyperlegible', sans-serif;
	--font-heading: 'DM Sans', sans-serif;
}

body {
	background-color: #1e1f28;
	color: #ffffff;
	display: flex;
	justify-content: center;
	width: calc(100% - 48px);
	font-family: var(--font-body);
	padding: 0 24px;
	margin: 0;
	padding-bottom: 64px;
}

.svelte-wrapper {
	width: 700px;
}

h1 {
	font-family: var(--font-heading);
	font-size: 42px;
	line-height: 52px;
}

h2 {
			font-family: var(--font-heading);
			font-size: 28px;
			margin: 0;
			line-height: 32px;
			margin-bottom: 8px;
			padding-top: 16px;
}

h3 {
			font-family: var(--font-heading);
			font-size: 18px;
			margin: 0;
			line-height: 24px;
			margin-bottom: 8px;
}

a {
	color: #fc7373;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

p,
ul,
ol {
	font-weight: 400;
	color: rgba(255, 255, 255, 0.85);
	font-size: 18px;
	line-height: 28px;
}

p {
	margin: 16px 0 32px 0;
}

code {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 2px;
	padding: 2px 4px;
}

blockquote {
	border-left: 2px solid #fc7373;
	padding: 1px 16px 1px 16px;
	margin-left: 24px;
	background-color: rgba(255, 255, 255, 0.06);
}

hr {
	margin: 40px 0;
	border: 1px solid rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 650px) {
  .svelte-wrapper {
		width: 100%;
	}

	blockquote {
		margin-left: 8px;
		padding-left: 8px;
	}

	p {
		margin: 16px 0;
	}

	hr {
		margin: 24px 0;
	}
}